body{
    background-color: lightblue;
}

 .cal-con{
    margin: 0%;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%,-50%);
} 

/* Calculator Setting */
.cal-con{
    border: 2px solid gold;
    border-radius: 5px;
    width: 400px;
    height: auto;
    padding: 5px;
    background-color: black;
}

/* Display Setting */
.last-con , .current-con{
    border: 0.5px solid gold;
    background-color: #15f4ee;
    color: black;
    margin: 2px;
}


/* Display Text Setting  */

.last-con , .current-con{
display: flex;
align-items: center;
justify-content: right;
overflow: auto;
}

.last-con{
    height: 25px;
    text-align: right;
    border-radius: 5px 5px 0px 0px;
}
.current-con{
    height: 50px;
    text-align: right;
    border-radius: 0px 0px 5px 5px;
}

/* Button Setting */
.input-con{
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr;
    gap: 1px;
}


button{
    background-color: #b76e79;
    width: 98px;
    height: 70px;  
    transition: 0.5s ease-in;
}

button:hover{
    background-color: gold;
    box-shadow: 1px 1px 1px 1px;
}

